@model IEnumerable<Event_Aggregator.Models.Event>
@{
    ViewData["Title"] = "Aktualności";
}

<div class="container" style="margin-top: 6%;">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <form role="form" id="form-buscar">
                <div class="form-group">
                    <div class="input-group">
                        <input id="1" class="form-control" type="text" name="search" placeholder="Search..." required />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Search
                            </button>
                            <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("AddEvent", "Search")'">
                                <i class="glyphicon glyphicon-plus" aria-hidden="false"></i> Add Event
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<h3>Lista ostatnio dodanych wydarzeń</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nazwa wydarzenia</th>
            <th>Kategoria</th>
            <th>Data i godzina</th>
            <th>Lokalizacja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localization)
            </td>
        </tr>
        }
    </tbody>
</table>
</br></br>
