@model Event_Aggregator.Models.ModelsWrapper
@{
    ViewData["Title"] = "Aktualności";
}


<div class="container" style="margin-top: 6%;">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <form role="form" id="form-buscar" asp-controller="Home" asp-action="Index">
                <div class="form-group">
                    <p>@ViewBag.Message</p>
                    <div class="input-group">
                        <input id="1" style="border-right:none" class="form-control" type="text" name="searchString" placeholder="Hasło lub słowo kluczowe...">
                        <span class="input-group-btn">
                            <select class="form-control" id="sel1" name="categoryString" style="margin-left: -130px; width: 130px">
                                <option id="0">Wszystko</option>
                                @foreach (var item in ViewData["Categories"] as IEnumerable<Event_Aggregator.Models.Category>)
                                {
                                    <option id="@Html.DisplayFor(x => item.ID)">@Html.DisplayFor(x => item.CategoryName)</option>
                                }
                            </select>
                            <button class="btn btn-primary" type="submit">
                                <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Szukaj
                            </button>
                            <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("AddEvent", "Search")'">
                                <i class="glyphicon glyphicon-plus" aria-hidden="false"></i> Utwórz
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</br>

<div class="container" style="display:flex; flex-wrap:wrap; margin-bottom:10%">
    @foreach (var item in Model.Events)
    {
        <div class="container col-xs-10 col-sm-6 col-md-4">
            <div style="margin:20px;">
                <div class="row" style="border-bottom: 1px solid; border-color:#e4e4e4;">
                    <div style="width:auto; height:80px">
                        <div class="img-rounded" style="height:100%;width:100%; background: url(/images/defaultImage.jpg);">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3" style="margin-top: 6px; margin-left: 8px; text-align:center; text-wrap:normal">
                            <p style="color:#337ab7; font-weight:bolder">
                                @{
                                    var monthName = item.StartDate.ToString("MMM");
                                }
                                @Html.DisplayFor(modelItem => monthName)
                            </p>
                            <p style="font-weight:bold">
                                @{ 
                                    var day = item.StartDate.ToString("dd");
                                }
                                @Html.DisplayFor(modelItem => day)
                            </p>
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-6" style="padding-left:20px; margin-top: 6px; margin-bottom:6px; border-color: #337ab7; border-left-style:dashed;">
                            <p style="font-size: large">
                                @Html.DisplayFor(modelItem => item.ShortTitle)
                            </p>
                            <p style="font-size: small">
                                @Html.DisplayFor(modelItem=>item.LongerTitle)
                            </p>
                            <p style="font-size:x-small">
                                @{ 
                                    var date = item.StartDate.ToString("d MMMM yyyy, HH:mm");
                                }
                                @Html.DisplayFor(modelItem => date)
                            </p>
                            <p style="font-size:x-small">
                                @Html.DisplayFor(modelItem => item.Localization)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
